body {
  margin: 0;
  padding: 0;
  margin-top: 5%;
  text-align: center;
  background-color: rgb(233, 164, 228);
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(40, 39, 39)
}

button {
  color: rgb(40, 39, 39);
  background-color: rgb(255, 211, 254);
  font-size: 16px;
  border-radius: 8px;
}

input {
  border-radius: 8px;
  font-size: 16px;
}